// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 0 auto;
  padding: 24px;
}

.your-question, .answer {
  margin: 8px 0;
  padding: 16px 24px;
  border-left: 8px solid rgb(216, 213, 213);
}

.answer {
  background: #ffffe1;
}

.question {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

input {
  margin: 0;
  padding: 4px;
  outline: 100%;
  height: 40px;
  width: 100%;
  border: 1px solid rgb(226, 223, 223);
  border-radius: 4px;
}

button {
  height: 40px;
  position: absolute;
  width: 20%;
  right: 0;
  z-index: 2;
  border-style: none;
}

a {
  text-decoration: none;
}
 // Defining a variable
//  $gray: #F4F4F4;

//  body {
//    background: $gray; // Using this variable
//  }

//  .banner {
//   background: red;
//   h1 {
//     font-size: 50px;
//   }
// }

// a {
//   color: grey;
//   &:hover {
//     color: black;
//   }
// }
